.about-us-background {
  background: #f8f8f8;
}

.about-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-description {
  display: flex;
  margin: 20px;
  //justify-content: space-around;
  justify-content: center;
  -webkit-flex-flow: row wrap;

  p {
    max-width: 500px;
  }
}

.about-us-carousel {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.about-us-carousel li {
  width: 263px;
  margin: 20px;
  justify-content: space-around;
}

.about-us-carousel li p {
  top: 0;
  left: 0;
}

.about-us-empl-image {
  width: 263px;
  height: 250px;

  margin-right: auto;
  margin-left: auto;
  background: brown;
}

.about-us-empl-image:hover {
  background: white;
  opacity: .5;
}

.about-us-empl-name {
  text-transform: uppercase;
}