.resent-blogs {
  ul {
    li {
      display: flex;


      .blog-content {
        display: flex;
        margin-top: 70px;
        text-align: left;

        .blog-header {
          margin-left: 50px;
          justify-content: space-around;
          display: flex;

          .blog-container {

            display: flex;

            .blog-date {
              width: 76px;
              height: 76px;
              text-align: center;
              border: 2px solid black;
            }

            .blog-title {
              margin-left: 20px;
              height: 100%;
              padding-bottom: 20px;

              :first-child {
                height: 50%;
              }

              :last-child {
                height: 50%;
                margin-top: 20px;
                font-size: 12px;
              }
            }
          }

          .blog-text {
            margin-top: 20px;
            margin-bottom: 20px;
          }

          .blog-button {
            font-family: 'RobotoSlab', serif;
            font-weight: 1000;
            text-transform: uppercase;
            color: black;
          }
        }
      }
    }
  }
}
