@import "_variables";
@import "_section-title";

.services {
  text-align: center;
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;

  ul {
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;

    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    list-style-type: none;

    li {
      width: 100%;
      max-width: 345px;
      margin: 20px;

      h3 {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

@services-image-size:90px;

.services-image{
  width: @services-image-size;
  height: @services-image-size;
  margin: auto;
  border-radius: 50%;
}

.typography {
  .services-image;

  &:after {
    .services-overlay;
    .services-image(22px; 19px);
  }

  &:hover:after {
    .services-image(22px; -87px);
  }
}

.solid-code {
  .services-image;

  &:after {
    .services-overlay;
    .services-image(-91px; 19px);
  }

  &:hover:after {
    .services-image(-91px; -88px);
  }
}

.expert-support{
  .services-image;

  &:after {
    .services-overlay;
    .services-image(22px; 19px);
  }

  &:hover:after {
    .services-image(22px; -87px);
  }
}

.services-image(@x; @y) {
  background: url('../resources/img/icons.png') @x @y no-repeat;
}

.overlay {
  position: relative;
  background: transparent;

  &:hover {
    background: brown;
  }
}

.services-image(@x; @y) {
  background: url('../resources/img/icons.png') @x @y no-repeat;
}

.services-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}