@import "_variables";
@import "_section-title";

.services {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services_header {
  .section-title;
}

.services_header:after {
  .section-title-span;
}

.services ul {
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;

  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  list-style-type: none;
}

.services ul li {
  width: 300px;
  margin: 20px;
}

.services div {
  width: 90px;
  height: 90px;
  margin: auto;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.typography:after {
  .services-overlay;
  .services-image(22px; 19px);
}

.typography:hover:after {
  .services-image(22px; -87px);
}

.solid-code:after {
  .services-overlay;
  .services-image(-91px; 19px);
}

.solid-code:hover:after {
  .services-image(-91px; -88px);
}

.services-image(@x; @y) {
  background: url('../resources/img/icons.png') @x @y no-repeat;
}

.expert-support:after {
  .services-overlay;
  .services-image(-209px; 19px);
}

.expert-support:hover:after {
  .services-image(-209px; -88px);
}

.overlay{
  position: relative;
  background: transparent;
}

.overlay:hover{
  background: brown;
}

.services-image(@x; @y) {
  background: url('../resources/img/icons.png') @x @y no-repeat;
}

.services-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}