@import "_container";
@import "_navbar";
@import "_header";
@import "_services";
@import "_variables";

@header-margin: 10;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  z-index: -10;
}

a {
  color: white;
}