@import "_container";
@import "_navbar";
@import "_header";
@import "_services";
@import "_variables";
@import "_about-us";

@header-margin: 10;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: RobotoSlab, serif;
  background-color: white;
}

h2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
}