.container {
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}
.navbar {
  display: flex;
  position: relative;
  background: transparent;
  justify-content: space-between;
  padding-top: 40px;
}
.navbar .icon {
  display: none;
}
.navbar .nav-btn {
  display: none;
}
.navbar .logo {
  display: inline;
  float: left;
  font-size: 24px;
  line-height: 36px;
  font-weight: 900;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
.navbar .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .menu li {
  display: inline;
}
.navbar .menu li a {
  color: white;
  display: block;
  float: left;
  padding: 20px 20px;
  text-decoration: none;
}
.navbar .menu li a:hover {
  background-color: black;
}
@media (max-width: 800px) {
  .navbar {
    padding-top: 0;
    background: brown;
  }
  .navbar .icon {
    display: flex;
    width: 50px;
    margin: 4px;
    padding-top: 5px;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 5px;
  }
  .navbar .icon span {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 10px;
    border-top: 2px solid brown;
  }
  .navbar .menu {
    position: absolute;
    display: block;
    top: 100%;
    width: 100%;
    background-color: brown;
    height: 0;
    overflow-y: hidden;
  }
  .navbar .menu li a {
    display: block;
    width: 100%;
  }
  .navbar .nav-btn {
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    background: white;
    border: 2px solid white;
    border-radius: 5px;
    right: 5px;
    top: 5px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 45px;
    height: 35px;
    padding: 8px 10px;
  }
  .menu.responsive {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
header {
  display: block;
  background: url('../resources/img/bg.jpg');
  background-origin: content-box;
  height: 100%;
  background-size: cover;
  z-index: 3;
}
header .header-content {
  height: 100vh;
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header-content h1 {
  text-transform: uppercase;
  font-size: 48px;
}
header .header-content p {
  margin: 20px;
  line-height: 24px;
  font-size: 20px;
}
header .header-content .header-button {
  display: block;
  border: 2px solid white;
  background-color: transparent;
  padding: 19px 35px;
  font-size: 16px;
  color: white;
  margin: 50px auto 0;
  text-transform: uppercase;
  cursor: pointer;
}
.section_header h2 {
  margin-top: 100px;
  size: 20px;
  line-height: 24px;
}
.section_header h2:after {
  height: 2px;
  display: block;
  width: 50px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background: #808080;
  content: '';
}
.services {
  text-align: center;
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.services ul {
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  list-style-type: none;
}
.services ul li {
  width: 100%;
  max-width: 345px;
  margin: 20px;
}
.services ul li h3 {
  font-weight: 600;
  text-transform: uppercase;
}
.services-image {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
}
.typography {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
}
.typography:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: url('../resources/img/icons.png') 22px 19px no-repeat;
}
.typography:hover:after {
  background: url('../resources/img/icons.png') 22px -87px no-repeat;
}
.solid-code {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
}
.solid-code:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: url('../resources/img/icons.png') -91px 19px no-repeat;
}
.solid-code:hover:after {
  background: url('../resources/img/icons.png') -91px -88px no-repeat;
}
.expert-support {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
}
.expert-support:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: url('../resources/img/icons.png') 22px 19px no-repeat;
}
.expert-support:hover:after {
  background: url('../resources/img/icons.png') 22px -87px no-repeat;
}
.overlay {
  position: relative;
  background: transparent;
}
.overlay:hover {
  background: brown;
}
.services-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.about-us-background {
  background: #f8f8f8;
}
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us .about-us-description {
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: justify;
  justify-content: center;
  -webkit-flex-flow: row wrap;
}
.about-us .about-us-description p {
  width: calc(50% - 15px * 2);
  margin-left: 15px;
  margin-right: 15px;
}
.about-us .workers-container {
  width: 100%;
  position: relative;
  height: 300px;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 100px;
  display: flex;
}
.about-us .workers-container .worker-container {
  position: relative;
  display: block;
  margin: 15px;
  min-width: 250px;
}
.about-us .workers-container .worker-container .worker-item {
  width: 100%;
  display: flex;
  background: transparent;
  position: relative;
}
.about-us .workers-container .worker-container .worker-item .worker-image {
  width: 100%;
  z-index: 0;
  height: auto;
}
.about-us .workers-container .worker-container .worker-item:hover {
  background: #717171;
  z-index: 2;
}
.about-us .workers-container .worker-container .worker-item:hover .worker-image {
  opacity: 0.5;
}
.about-us .workers-container .worker-container .worker-item:hover .worker-social .worker-social-item {
  opacity: 1;
}
.about-us .workers-container .worker-container .worker-item .worker-social {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-us .workers-container .worker-container .worker-item .worker-social .worker-social-item {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 8px;
  z-index: 2;
  opacity: 0;
}
.about-us .workers-container .worker-container .worker-item .worker-social .worker-social-item:hover {
  z-index: 0;
  background: brown;
}
.about-us .workers-container .worker-container .worker-name {
  text-transform: uppercase;
  font-family: 'Montserrat', 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
}
.about-us .workers-container .worker-container .worker-position {
  font-size: 13px;
  line-height: 1.85;
}
.icon-fb {
  position: relative;
}
.icon-fb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../resources/img/icons_2.png') 8px 5px no-repeat;
}
.icon-tw {
  position: relative;
}
.icon-tw:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../resources/img/icons_2.png') -22px 5px no-repeat;
}
.icon-g {
  position: relative;
}
.icon-g:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../resources/img/icons_2.png') -52px 5px no-repeat;
}
.icon-in {
  position: relative;
}
.icon-in:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../resources/img/icons_2.png') -83px 5px no-repeat;
}
@media (max-width: 800px) {
  .about-us .about-us-description {
    display: block;
  }
  .about-us .about-us-description p {
    width: calc(100% - 15px * 2);
  }
}
.latest-works {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.latest-works .switch-container {
  float: left;
  display: flex;
  justify-content: center;
  -webkit-flex-flow: row wrap;
}
.latest-works .switch-container .switch {
  padding: 15px;
  float: left;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.latest-works .switch-container .switch.active {
  color: brown;
  font-weight: 600;
}
.latest-works .works-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
  padding: 0;
}
.latest-works .works-container .work-container {
  width: 25%;
  height: auto;
  margin: 8px;
  padding: 0;
  position: relative;
  display: none;
}
.latest-works .works-container .work-container .work-overlay {
  width: 100%;
  height: 99%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
.latest-works .works-container .work-container .work-overlay:hover {
  opacity: 1;
  background: rgba(165, 42, 42, 0.7);
}
.latest-works .works-container .work-container .work-overlay .header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  color: white;
  line-height: 1.33;
}
.latest-works .works-container .work-container .work-overlay .type {
  font-size: 12px;
  color: white;
  line-height: 2;
}
.latest-works .works-container .work-container .work-overlay .button {
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
}
.latest-works .works-container .work-container .work-overlay .button:hover {
  background: white;
}
.latest-works .works-container .work-container .work-overlay .button:hover a {
  color: brown;
}
.latest-works .works-container .work-container .work-overlay .button a {
  text-transform: uppercase;
  padding: 8px 12px;
  color: white;
}
.latest-works .works-container .work-container .work-image {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.latest-works .works-container .show {
  display: block;
}
.latest-works .cards {
  max-width: 1200px;
  margin: 25px auto;
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
}
.latest-works .cards .card {
  width: 360px;
  height: 320px;
  color: white;
}
.latest-works .cards .latest-work-img-5 {
  background: url("../resources/img/img-5.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-5:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .cards .latest-work-img-6 {
  background: url("../resources/img/img-6.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-6:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .cards .latest-work-img-7 {
  background: url("../resources/img/img-7.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-7:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .cards .latest-work-img-8 {
  background: url("../resources/img/img-8.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-8:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .cards .latest-work-img-9 {
  background: url("../resources/img/img-9.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-9:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .cards .latest-work-img-10 {
  background: url("../resources/img/img-10.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-10:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .cards .latest-work-img-11 {
  background: url("../resources/img/img-11.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-11:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .cards .latest-work-img-12 {
  background: url("../resources/img/img-12.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-12:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .cards .latest-work-img-13 {
  background: url("../resources/img/img-13.jpg");
  background-size: cover;
}
.latest-works .cards .latest-work-img-13:hover > .latest-work-overlay {
  opacity: 1;
}
.latest-works .latest-work-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.latest-works .latest-work-overlay:hover {
  background: rgba(165, 42, 42, 0.7);
}
.latest-works .latest-work-overlay .latest-work-overlay-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.latest-works .latest-work-overlay .latest-work-button {
  margin-top: 8px;
  padding: 10px 15px;
  border: solid 2px white;
}
.latest-works .latest-work-overlay .latest-work-button:hover {
  background: white;
}
.latest-works .latest-work-overlay .latest-work-button:hover a {
  color: brown;
}
.latest-works .latest-work-overlay div {
  margin: 8px;
}
.latest-works-get-in-touch {
  width: 100%;
  height: 369px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: url("../resources/img/bg_2.jpg") center;
}
.latest-works-get-in-touch .latest-works-get-in-touch-header {
  font-size: 30px;
  line-height: 1.47;
}
.latest-works-get-in-touch .latest-works-get-in-touch-button {
  margin-top: 50px;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  border: solid 2px white;
}
@media (max-width: 800px) {
  .latest-works .works-container .work-container {
    width: 45%;
  }
}
.resent-blogs ul {
  padding: 0;
}
.resent-blogs ul li {
  display: flex;
}
.resent-blogs ul li .blog-content {
  display: flex;
  margin-top: 70px;
  text-align: left;
}
.resent-blogs ul li .blog-content img {
  width: 35%;
  object-fit: cover;
}
.resent-blogs ul li .blog-content .blog-header {
  margin-left: 50px;
  justify-content: space-around;
  display: flex;
}
.resent-blogs ul li .blog-content .blog-header .blog-container {
  display: flex;
}
.resent-blogs ul li .blog-content .blog-header .blog-container .blog-date {
  width: 76px;
  height: 76px;
  text-align: center;
  color: #777777;
  margin: 0;
  font-weight: 1000;
  font-family: 'Montserrat', serif;
  border: 2px solid #555555;
}
.resent-blogs ul li .blog-content .blog-header .blog-container .blog-date :first-line {
  font-size: 24px;
}
.resent-blogs ul li .blog-content .blog-header .blog-container .blog-title-container {
  margin-left: 20px;
  height: 100%;
  padding-bottom: 20px;
}
.resent-blogs ul li .blog-content .blog-header .blog-container .blog-title-container .blog-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  height: 50%;
}
.resent-blogs ul li .blog-content .blog-header .blog-container .blog-title-container .blog-title p {
  margin: 0;
  font-size: 24px;
}
.resent-blogs ul li .blog-content .blog-header .blog-container .blog-title-container .blog-title :hover {
  color: brown;
}
.resent-blogs ul li .blog-content .blog-header .blog-container .blog-title-container .blog-author {
  height: 50%;
  font-weight: 600;
  margin-top: 20px;
  font-size: 12px;
}
.resent-blogs ul li .blog-content .blog-header .blog-container .blog-title-container .blog-author :hover {
  color: brown;
}
.resent-blogs ul li .blog-content .blog-header .blog-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
.resent-blogs ul li .blog-content .blog-header .blog-button a {
  font-family: 'RobotoSlab', serif;
  font-weight: 1000;
  text-transform: uppercase;
}
.resent-blogs ul li .blog-content .blog-header .blog-button :hover {
  color: brown;
}
@media (max-width: 765px) {
  .resent-blogs ul li .blog-content img {
    display: none;
  }
}
.brands-background {
  background: #f8f8f8;
}
.brands-background .brands {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
}
.brands-background .brands ul {
  margin-top: 120px;
  display: flex;
  padding: 0;
  justify-content: center;
  overflow: hidden;
  list-style-type: none;
  -webkit-flex-flow: row wrap;
}
.brands-background .brands ul li {
  margin: 20px;
}
.brands-background .brands .brands-description {
  font-size: 18px;
  line-height: 1.67;
  font-style: italic;
  font-weight: 400;
  margin: 25px 0 0 0;
}
.brands-background .brands .brands-description span {
  font-style: normal;
  font-weight: 600;
  margin: 120px;
}
.brands-background .brands .radio-list {
  margin: 25px 0 100px 0;
  display: flex;
  list-style: none;
}
.brands-background .brands .radio-list li {
  margin: 0;
}
.brands-background .brands .radio-list li .custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.brands-background .brands .radio-list li .custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #dddddd;
  border-radius: 50%;
  margin-right: 0.5em;
}
.brands-background .brands .radio-list li .custom-radio:not(:disabled):not(:checked) + label:hover::before {
  background: #a1a1a1;
}
.brands-background .brands .radio-list li .custom-radio:checked + label::before {
  background-color: brown;
}
.brands-background .brands .radio-list li .custom-radio:disabled + label::before {
  background-color: #e9ecef;
}
.contact-container {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
}
.contact-container .credits-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact-container .credits-container .credits-item {
  width: 100%;
  margin: 10px 10px 10px 10px;
  display: flex;
}
.contact-container .credits-container .credits-item .credits-icon-0 {
  margin: 4px 8px 8px 8px;
  width: 25px;
  height: 25px;
  background: url("../resources/img/icons_4.png") 0 calc(0px - 28px * 0) no-repeat;
}
.contact-container .credits-container .credits-item .credits-icon-1 {
  margin: 4px 8px 8px 8px;
  width: 25px;
  height: 25px;
  background: url("../resources/img/icons_4.png") 0 calc(0px - 28px * 1) no-repeat;
}
.contact-container .credits-container .credits-item .credits-icon-2 {
  margin: 4px 8px 8px 8px;
  width: 25px;
  height: 25px;
  background: url("../resources/img/icons_4.png") 0 calc(0px - 28px * 2) no-repeat;
}
.contact-container .credits-container .credits-item .credits-icon-3 {
  margin: 4px 8px 8px 8px;
  width: 25px;
  height: 25px;
  background: url("../resources/img/icons_4.png") 0 calc(0px - 28px * 3) no-repeat;
}
.contact-container .credits-container .credits-item .contact-credits {
  width: calc(100% - 25px - 8px * 2);
  overflow-wrap: break-word;
  line-height: 1.67;
  font-size: 12px;
}
.contact-container .credits-container .credits-item .contact-credits:first-line {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
.contact-container .form-container {
  width: 65%;
  height: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}
.contact-container .form-container .form-2-fields {
  height: 36px;
  display: block;
  border: none;
  margin: 10px;
  float: left;
}
.contact-container .form-container .form-2-fields input {
  width: calc(50% - 8px);
  height: 100%;
  padding: 16px;
  margin: 2px;
  border: 1px solid #555555;
  font-family: 'RobotoSlab', serif;
  outline: none;
}
.contact-container .form-container .form-2-fields input:focus {
  border: 1px solid brown;
}
.contact-container .form-container .form-2-fields input::placeholder {
  text-transform: uppercase;
}
.contact-container .form-container .form-field {
  height: 100px;
  display: block;
  border: none;
  margin: 10px;
  float: left;
}
.contact-container .form-container .form-field textarea {
  width: calc(100% - 8px);
  height: 100%;
  padding: 16px;
  margin: 4px;
  border: 1px solid #555555;
  font-family: 'RobotoSlab', serif;
  resize: none;
  outline: none;
}
.contact-container .form-container .form-field textarea:focus {
  border: 1px solid brown;
}
.contact-container .form-container .form-field textarea::placeholder {
  font-family: 'RobotoSlab', serif;
  text-transform: uppercase;
}
.contact-container .form-container .form-field-submit {
  display: flex;
  border: none;
  margin: 4px;
}
.contact-container .form-container .form-field-submit .button {
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #555555;
  color: #555555;
  margin: 8px;
  padding: 10px 24px;
}
.contact-container .form-container .form-field-submit .submit-info {
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  padding: 0 0;
}
.contact-container .form-container .form-field-submit .submit-info span {
  color: brown;
}
@media (max-width: 800px) {
  .contact-container {
    display: block;
  }
  .contact-container .credits-container {
    width: calc(100% - 20px * 2);
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-container .form-container {
    width: 100%;
  }
}
footer {
  width: 100%;
  height: 307px;
  display: flex;
  justify-content: center;
  background: brown;
}
footer .footer-container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-container .footer-container-1 {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
footer .footer-container .footer-container-1 div {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 7px;
  border: 2px solid white;
  border-radius: 50%;
  background: url("../resources/img/icons_3.png") 10px 11px no-repeat;
}
footer .footer-container .footer-span {
  height: 2px;
  display: block;
  width: 50px;
  margin: 30px auto 20px auto ;
  background: white;
}
footer .footer-container p {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}
.prev,
.next {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
  top: 50%;
  font-size: 3em;
  transform: translateY(-50%);
  background: #a1a1a1;
  z-index: 3;
}
@media (min-width: 1200px) {
  .prev,
  .next {
    display: none;
  }
}
.prev {
  position: absolute;
  left: 1rem;
}
.prev:hover {
  background: brown;
}
.prev a {
  width: 100%;
  height: 100%;
  background: url("../resources/img/arrows.png") 19px 17px no-repeat;
}
.next {
  position: absolute;
  right: 1rem;
  text-shadow: -1px -1px 8px black;
}
.next:hover {
  background: brown;
}
.next a {
  width: 100%;
  height: 100%;
  background: url("../resources/img/arrows.png") -9px 17px no-repeat;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  color: #555555;
}
h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
/*# sourceMappingURL=style.css.map */